<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<body>
<div layout:fragment="content" class="container my-3">
  <div class="p-3 m-0 border-0 bd-example m-0 border-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mx-5">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">로고</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active"th:href="@{/post/list}">커뮤니티</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/mypage}">마이페이지</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="mx-auto" style="max-width: 900px;">
    <div class="card p-4 shadow-sm">
      <div class="d-flex justify-content-between align-items-center ">
        <h2>숙소 목록</h2>
        <form th:action="@{/admin/hotelList}" method="get" class="d-flex">
          <input type="text" name="keyword" th:value="${param.keyword}" placeholder="숙소명 검색" class="form-control me-1" style="height: 30px;">
          <button type="submit" class="btn btn-sm btn-primary ms-2" style="white-space: nowrap;">검색</button>
        </form>
      </div>

      <div style="height: 500px; overflow-y: auto;">
        <table class="table table-bordered table-hover">
          <thead class="table-light">
          <tr>
            <th>이름</th>
            <th>지역</th>
            <th>타입</th>
          </tr>
          </thead>
          <tbody>
          <div th:if="${paging.isEmpty()}">
            <p>검색 결과가 없습니다.</p>
          </div>
          <div th:each="hotel : ${paging}">
            <tr>
              <td>
                <a th:href="@{/admin/hotelList/{id}(id=${hotel.id})}" th:text="${hotel.hotelName}">호텔 이름</a>
              </td>
              <td th:text="${hotel.region}"></td>
              <td th:text="${hotel.type}"></td>
            </tr>
          </div>
          </tbody>
        </table>
      </div>
      <!--            페이징 처리 시작-->
      <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center align-items-end">
          <br>
          <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
            <a class="page-link"
               th:href="@{/admin/hotelList(page=${paging.number + -1}, keyword = ${param.keyword})}">
              <span>이전</span>
            </a>
          </li>
          <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
              th:if="${page >= paging.number-5 and page <= paging.number+5}"
              th:classappend="${page == paging.number} ? 'active'"
              class="page-item">
            <a th:text="${page}" class="page-link" th:href="@{/admin/hotelList(page=${page}, keyword=${param.keyword})}"></a>
          </li>
          <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <a class="page-link" th:href="@{/admin/hotelList(page=${paging.number+1}, keyword=${param.keyword})}">
              <span>다음</span>
            </a>
          </li>
        </ul>
      </div>
      <!--            페이징 처리 끝-->
      <form th:action="@{/admin/hotelList/create}" method="get" class="d-flex justify-content-end">
        <button type="submit" class="btn btn-sm btn-primary ms-2" style="white-space: nowrap;">작성</button>
      </form>
    </div>
  </div>

  </div>
</body>
</html>