<!doctype html>
<link rel="stylesheet" type="text/css" th:href="@{/mainstrap.css}" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<title>야가자 프로젝트</title>
  </head>
  <body>
  <div class="wrap">
      <div class="intro_bg">
        <div class="p-3 m-0 border-0 bd-example m-0 border-0">
            <nav class="navbar navbar-expand-lg bg-body-tertiary mx-5"
                 style="border: 3px solid black; border-radius: 15px; padding: 10px; background-color: white;">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/main}" style="margin-left: 10px;">
                        <img th:src="@{/images/logo.png}" alt="Logo" width="163" height="38"
                             style="border-radius: 5px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item" style="margin-right: 10px; "sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="btn btn-warning fw-bold px-3 py-2"
                                   th:href="@{/admin/userList}" style="color: black; border: 2px solid black; border-radius: 10px;">관리자</a>
                            </li>
                            <li class="nav-item" style="margin-right: 10px; " sec:authorize="hasRole('ROLE_PARTNER')">
                                <a class="btn btn-warning fw-bold px-3 py-2"
                                   th:href="@{/admin/myRequestHotel}" style="color: black; border: 2px solid black; border-radius: 10px;">관리자</a>
                            </li>
                            <li class="nav-item" style="margin-right: 10px;">
                                <a class="btn btn-warning fw-bold px-3 py-2"
                                   th:href="@{/post/list}" style="color: black; border: 2px solid black; border-radius: 10px;">커뮤니티</a>
                            </li>
                            <li class="nav-item" style="margin-right: 10px;"sec:authorize="isAnonymous()">
                                <a class="btn btn-warning fw-bold px-3 py-2"
                                   th:href="@{/user/login}"  style="color: black; border: 2px solid black; border-radius: 10px;">로그인</a>
                            </li>
                            <li class="nav-item" style="margin-right: 10px;" sec:authorize="isAnonymous()">
                                <a class="btn btn-warning fw-bold px-3 py-2"
                                   th:href="@{/user/signup}"  style="color: black; border: 2px solid black; border-radius: 10px;">회원가입</a>
                            </li>
                            <li class="nav-item" style="margin-right: 10px;" sec:authorize="isAuthenticated()">
                                <a class="btn btn-warning fw-bold px-3 py-2"
                                   th:href="@{/user/mypage}" style="color: black; border: 2px solid black; border-radius: 10px;">마이페이지</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="btn btn-warning fw-bold px-3 py-2"
                                   th:href="@{/user/logout}" style="color: black; border: 2px solid black; border-radius: 10px;">로그아웃</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="intro_text">
            <h1>이번 여행 어디로가지</h1>
            <h4 class="contents1">금액에 맞춰진 여행 계획을 만들어 드리겠습니다.</h4>
        </div>
      </div>
  </div>
  <!-- intro end-->
  <form th:action="@{/survey}" method="post">
      <div class="amount d-flex align-items-center border border-3 rounded p-4"
           style="background: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border-color: black !important; margin-top: -50px; border-radius: 20px !important;">
          <!-- 금액 -->
          <div class="d-flex align-items-center flex-grow-1">
              <label for="cash" class="me-2 fw-bold">금액</label>
              <input type="text" id="cash" name="cash" class="form-control text-center"
                     style="max-width: 120px; border-radius: 10px;">
          </div>
          <div class="vr mx-4" style="width: 3px; background-color: black !important;;"></div>

          <!-- 인원 -->
          <div class="d-flex align-items-center flex-grow-1">
              <label for="prod" class="me-2 fw-bold">인원</label>
              <select id="prod" name="prod" class="form-select text-center"
                      style="max-width: 120px; border-radius: 10px;">
                  <option value="1">1명</option>
                  <option value="2">2명</option>
                  <option value="3">3명</option>
                  <option value="4">4명</option>
                  <option value="5">5명</option>
              </select>
          </div>
          <div class="vr mx-4" style="width: 3px; background-color: black !important;;"></div>

          <!-- 날짜 -->
          <div class="d-flex align-items-center flex-grow-1">
              <label for="date" class="me-2 fw-bold">날짜</label>
              <select id="date" name="date" class="form-select text-center"
                      style="max-width: 140px; border-radius: 10px;">
                  <option value="2">1박2일</option>
                  <option value="3">2박3일</option>
                  <option value="4">3박4일</option>
                  <option value="5">4박5일</option>
              </select>
          </div>
          <div class="vr mx-4" style="width: 3px; background-color: black !important;;"></div>

          <!-- 지역 -->
          <div class="d-flex align-items-center flex-grow-1">
              <label for="travel" class="me-2 fw-bold">지역</label>
              <select id="travel" name="travel" class="form-select text-center"
                      style="max-width: 140px; border-radius: 10px;">
                  <option value="서울">서울</option>
                  <option value="부산">부산</option>
                  <option value="제주도">제주도</option>
                  <option value="대전">대전</option>
                  <option value="전주">전주</option>
                  <option value="강릉">강릉</option>
              </select>
          </div>
          <div class="vr mx-4" style="width: 3px; background-color: black !important;;"></div>

          <!-- 버튼 -->
          <div class="d-flex align-items-stretch justify-content-end flex-grow-1">
              <button type="submit" class="btn btn-warning fw-bold px-5"
                      style="color: black; border: 2px solid black; border-radius: 10px; font-size: 1.2rem; height: 100%;">선택 완료</button>
          </div>
      </div>
  </form>


  <!-- amount end -->
  <div class="main_text0 pb-5">
    <h1>한국의 다양한 도시를 탐험하세요!</h1>
      <div id="cityCarousel" class="carousel slide">
          <!-- 슬라이더 컨텐츠 -->
          <div class="carousel-inner text-center">
              <!-- Slide 1 -->
              <div class="carousel-item active">
                  <div class="d-flex justify-content-center align-items-center" style="gap: 130px;">
                      <div class="text-center">
                          <p class="mt-2 fw-bold" style="font-size: 1.5rem; font-weight: 900;">서울</p>
                          <div class="d-flex justify-content-center align-items-center"
                               style="width: 250px; height: 250px; border-radius: 50%; border: 7px solid black; overflow: hidden;">
                              <a href="https://korean.visitseoul.net/ " target="_blank">
                                  <img th:src="@{'/images/seoul.jpg'}" alt="서울" style="width: 105%; height: 105%; object-fit: cover;">
                              </a>
                          </div>
                      </div>

                      <div class="text-center">
                          <p class="mt-2 fw-bold" style="font-size: 1.5rem; font-weight: 900;">부산</p>
                          <div class="d-flex justify-content-center align-items-center"
                               style="width: 250px; height: 250px; border-radius: 50%; border: 7px solid black; overflow: hidden;">
                              <a href="https://www.visitbusan.net/kr/index.do" target="_blank">
                                  <img th:src="@{'/images/busan.jpg'}" alt="부산" style="width: 105%; height: 105%; object-fit: cover;">
                              </a>
                          </div>
                      </div>

                      <div class="text-center">
                          <p class="mt-2 fw-bold" style="font-size: 1.5rem; font-weight: 900;">제주도</p>
                          <div class="d-flex justify-content-center align-items-center"
                               style="width: 250px; height: 250px; border-radius: 50%; border: 7px solid black; overflow: hidden;">
                              <a href="https://visitjeju.net/kr" target="_blank">
                                  <img th:src="@{'/images/jaejudo.jpg'}" alt="제주도" style="width: 105%; height: 105%; object-fit: cover;">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Slide 2 -->
              <div class="carousel-item">
                  <div class="d-flex justify-content-center align-items-center" style="gap: 130px;">
                      <div class="text-center">
                          <p class="mt-2 fw-bold" style="font-size: 1.5rem; font-weight: 900;">대전</p>
                          <div class="d-flex justify-content-center align-items-center"
                               style="width: 250px; height: 250px; border-radius: 50%; border: 7px solid black; overflow: hidden;">
                              <a href="https://www.djto.kr/kor/index.do" target="_blank" style="display: inline-block; width: 105%; height: 105%;">
                                  <img th:src="@{'/images/daejeon.jpg'}" alt="대전" style="width: 105%; height: 105%; object-fit: cover;">
                              </a>
                          </div>
                      </div>

                      <div class="text-center">
                          <p class="mt-2 fw-bold" style="font-size: 1.5rem; font-weight: 900;">전주</p>
                          <div class="d-flex justify-content-center align-items-center"
                               style="width: 250px; height: 250px; border-radius: 50%; border: 7px solid black; overflow: hidden;">
                              <a href="https://tour.jeonju.go.kr/index.jeonju#content" target="_blank" style="display: inline-block; width: 105%; height: 105%;">
                                  <img th:src="@{'/images/jeonju.jpg'}" alt="전주" style="width: 105%; height: 105%; object-fit: cover;">
                              </a>
                          </div>
                      </div>

                      <div class="text-center">
                          <p class="mt-2 fw-bold" style="font-size: 1.5rem; font-weight: 900;">강릉</p>
                          <div class="d-flex justify-content-center align-items-center"
                               style="width: 250px; height: 250px; border-radius: 50%; border: 7px solid black; overflow: hidden;">
                              <a href="https://visitgangneung.net/www/index.do" target="_blank" style="display: inline-block; width: 105%; height: 105%;">
                                  <img th:src="@{'/images/gangneung.jpg'}" alt="강릉" style="width: 105%; height: 105%; object-fit: cover;">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#cityCarousel" data-bs-slide="prev"
                  style="background: transparent; border: none;">
              <img th:src="@{'/images/left-arrow.png'}" alt="Previous" style="width: 50px; height: 50px;">
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#cityCarousel" data-bs-slide="next"
                  style="background: transparent; border: none;">
              <img th:src="@{'/images/right-arrow.png'}" alt="Next" style="width: 50px; height: 50px;">
          </button>
      </div>
  </div>
</div>
  <!-- footer.html -->
  <div class="footer">
      <div style="display: inline-block; vertical-align: middle;">
          <img src="/images/mokwon.png" alt="목원대학교 로고" style="width:50px; height:auto;">
      </div>
      <div style="display: inline-block; vertical-align: middle; margin-left: 10px;">
          Addr. 목원대학교 컴퓨터공학과 <br>
          CEO. 한지민 | 조원준 | 신동석 Tel.010-6382-2095 <br>
      </div>
  </div>
  </body>
</html>