<body>
    <div id="con">
    <div id="login">
    <div id="login_form">
    <form>
        <h3 class="mypage" style="letter-spacing:-1px;">마이페이지</h3>

        <hr>
       
        <p>
            <input type="submit" value="비밀번호 변경" class="pwc">
            
        </p>
        <p>
            <input type="submit" value="예약 내역" class="yn">
            
        </p>
        <p>
            <input type="submit" value="회원 탈퇴" class="ngr">
            
        </p>
        
    </form>
    <hr>
    </div>
    <div>
    </div>

</body>
