<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/mainstrap.css}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="p-3 m-0 border-0 bd-example m-0 border-0">
      <nav class="navbar navbar-expand-lg bg-body-tertiary mx-5">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/main}">
                <img th:src="@{/images/logo.png}" alt="Logo" width="163" height="38" class="d-inline-block align-text-top">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/post/list}">커뮤니티</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/mypage}">마이페이지</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
<!--  진행 상황 내역표시해주는 부분-->
<div class="p-3 mb-2">
    <div class="amount2" style="font-weight:900;">
        <li>
            <span>금액 : </span><span th:text="${siteOrder.cash}">금액값</span>
        </li>
        <li>
            <span>인원수 : </span><span th:text="${siteOrder.prod}">인원 수</span>
        </li>
        <li>
            <span>날짜 : </span><span th:text="${siteOrder.date}"></span>
        </li>
        <li>
            <span>지역 : </span><span th:text="${siteOrder.travel}">지역명</span>
        </li>
    </div>
</div>
<!--  진행 상황 내역표시해주는 부분-->
<!--    카카오맵 + 일차별 여행지 표시해주는 부분-->
<div class="mx-auto">
    <div class="container-md" style="width: 1300px;">
        <div class="text-dark" style="background-color: #F4F7FA;">
            <div class="position-relative">
                <!-- 탭 메뉴 시작-->
                <ul class="nav nav-tabs w-100 justify-content-start">
                    <li class="nav-item" th:each="i: ${#numbers.sequence(1, siteOrder.date)}">
                        <button class="nav-link" th:classappend="${i == 1} ? 'active'" data-bs-toggle="tab" th:attr="data-bs-target='#date' + ${i}" th:text="${i + '일차'}"></button>
                    </li>
                </ul>
                <!-- 탭 content 시작-->
                <div class="tab-content p-2">
                    <div class="tab-pane fade" th:each="i: ${#numbers.sequence(1, siteOrder.date)}"
                         th:classappend="${i == 1} ? 'show active'" th:id="'date' + ${i}">
                        <div class="row">
                            <div class="col-6">
                                <!-- 카카오맵 시작 -->
                                <div th:id="'map' +${i}" style="width: 100%; height: 800px;"></div>
                                <!-- 카카오 맵 끝 -->
                            </div>
                            <!--                            카드 시작-->
                            <div class="col-6">
                                <div class="scroll">
                                    <div class="card" th:block th:if="${i < siteOrder.date}" th:each="j: ${#numbers.sequence(i*survey.getTourismDayCount() - survey.getTourismDayCount(), i*survey.getTourismDayCount() - 1)}">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <img th:src = "${tourismList.get(j).getImgUrl()}" width="100%" height="100%">
                                                </div>
                                                <div class="col-7">
                                                    <p class="text-center" th:text="관광">종류(관광, 점심, 저녁)</p><br>
                                                    <p class="border-bottom" th:text="${tourismList.get(j).getName()}">이름</p>
                                                    <p class="border-bottom" th:text="'종류 : '+${tourismList.get(j).getType()}">종류</p>
                                                    <p class="border-bottom" th:text="'가격 : '+${tourismList.get(j).getPrice()}">가격</p>
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" th:attr="data-bs-target='#tourismModifyList'" th:text="수정"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card" th:block th:if="${i > 1}">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <img th:src = "${restaurantList[0][i-2].img}" width="100%" height="100%">
                                                </div>
                                                <div class="col-7">
                                                    <p class="text-center" th:text="점심">종류(관광, 점심, 저녁)</p><br>
                                                    <p class="border-bottom" th:text="${restaurantList[0][i-2].getName()}">이름</p>
                                                    <p class="border-bottom" th:text="${restaurantList[0][i-2].getType()}">종류</p>
                                                    <p class="border-bottom" th:text="'가격 : '+${restaurantList[0][i-2].getPrice()[1]}">가격</p>
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" th:attr="data-bs-target='#launchModifyList'" th:text="수정"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card" th:block th:if="${i < siteOrder.date}">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <img th:src = "${restaurantList[1][i-1].img}" width="100%" height="100%">
                                                </div>
                                                <div class="col-7">
                                                    <p class="text-center" th:text="저녁">종류(관광, 점심, 저녁)</p><br>
                                                    <p class="border-bottom" th:text="${restaurantList[1][i-1].getName()}">이름</p>
                                                    <p class="border-bottom" th:text="${restaurantList[1][i-1].getType()}">종류</p>
                                                    <p class="border-bottom" th:text="'가격 : '+${restaurantList[1][i-1].getPrice()[1]}">가격</p>
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" th:attr="data-bs-target='#dinnerModifyList'" th:text="수정"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card" th:block th:if="${i < siteOrder.date}">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <img th:src = "${hotelList.get(i-1).img}" width="100%" height="100%">
                                                </div>
                                                <div class="col-7">
                                                    <p class="text-center" th:text="숙소">종류(관광, 점심, 저녁)</p><br>
                                                    <p class="border-bottom" th:text="${hotelList.get(i-1).getHotelName()}">이름</p>
                                                    <p class="border-bottom" th:text="'종류 : '+${hotelList.get(i-1).getType()}">종류</p>
<!--                                                    <span class="border-bottom" th:each ="keyword :${hotelList.get(i-1).getKeyword()}" th:utext="${keyword} + '&nbsp;'">키워드</span>-->
                                                    <br>
                                                    <p class="border-bottom" th:text="'가격 : ' +${hotelService.getHotelPrice(siteOrder.getProd(), hotelList.get(i-1))}">가격</p>
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" th:attr="data-bs-target='#hotelModifyList'" th:text="수정"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!--                            카드 끝-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--                탭 content 끝-->
<!--                modifyList tab-content 출력문 시작-->
                <div class="modal fade" th:id = "tourismModifyList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">관광지 수정</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                                    <div class ="col" th:each ="tourism : ${tourismAllList}">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <img th:src = "${tourism.getImgUrl()}" width="100%" height="100%">
                                                    </div>
                                                    <div class="col-7">
                                                        <p class="text-center" th:text="관광">종류(관광, 점심, 저녁)</p><br>
                                                        <p class="border-bottom" th:text="${tourism.getName()}">이름</p>
                                                        <p class="border-bottom" th:text="'종류 : '+${tourism.getType()}">종류</p>
                                                        <p class="border-bottom" th:text="'가격 : '+${tourism.getPrice()}">가격</p>
                                                        <button type="button" class="btn btn-outline-secondary" th:text="선택"></button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" th:id = "launchModifyList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">점심 수정</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                                    <div class ="col" th:each ="restaurant : ${restaurantTop15ByPrice[0]}">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <img th:src = "${restaurant.getImg()}" width="100%" height="100%">
                                                    </div>
                                                    <div class="col-7">
                                                        <p class="text-center" th:text="점심">종류(관광, 점심, 저녁)</p><br>
                                                        <p class="border-bottom" th:text="${restaurant.getName()}">이름</p>
                                                        <p class="border-bottom" th:text="'종류 : '+${restaurant.getType()}">종류</p>
                                                        <p class="border-bottom" th:text="'가격 : '+${restaurant.getPrice()[0]}">가격</p>
                                                        <button type="button" class="btn btn-outline-secondary" th:text="선택"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" th:id = "dinnerModifyList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">저녁 수정</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                                    <div class ="col" th:each ="restaurant : ${restaurantTop15ByPrice[1]}">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <img th:src = "${restaurant.getImg()}" width="100%" height="100%">
                                                    </div>
                                                    <div class="col-7">
                                                        <p class="text-center" th:text="저녁">종류(관광, 점심, 저녁)</p><br>
                                                        <p class="border-bottom" th:text="${restaurant.getName()}">이름</p>
                                                        <p class="border-bottom" th:text="'종류 : '+${restaurant.getType()}">종류</p>
                                                        <p class="border-bottom" th:text="'가격 : '+${restaurant.getPrice()[1]}">가격</p>
                                                        <button type="button" class="btn btn-outline-secondary" th:text="선택"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" th:id = "hotelModifyList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">숙소 수정</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                                    <div class ="col" th:each ="hotel : ${hotelListTop10ByPrice}">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <img th:src = "${hotel.getImg()}" width="100%" height="100%">
                                                    </div>
                                                    <div class="col-7">
                                                        <p class="text-center" th:text="숙소">종류(관광, 점심, 저녁)</p><br>
                                                        <p class="border-bottom" th:text="${hotel.getHotelName()}">이름</p>
                                                        <p class="border-bottom" th:text="'종류 : '+${hotel.getType()}">종류</p>
                                                        <p class="border-bottom" th:text="'종류 : '+${hotel.getType()}">종류</p>
<!--                                                        <span class="border-bottom" th:each ="keyword :${hotel.getKeyword()}" th:utext="${keyword} + '&nbsp;'">키워드</span>-->
                                                        <p class="border-bottom" th:text="'가격 : ' +${hotelService.getHotelPrice(siteOrder.getProd(), hotel)}">가격</p>
                                                        <button type="button" class="btn btn-outline-secondary" th:text="선택"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="mx-auto" style="width: 800px;">
    <div class="container-md">
        <div class="p-2 text-dark">
            <div class="position-relative">
                <div class="align-middle">
                    <div class="row">
                        <div class="col border border-dark">
                            항목
                        </div>
                        <div class="col border border-dark">
                            실제 비용
                        </div>
                        <div class="col border border-dark">
                            알고리즘 예상 비용
                        </div>
                        <div class="col border border-dark">
                            차이
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            식사
                        </div>
                        <div class="col border border-dark" th:text="2 * ${orderService.getAllRestaurantPrice(restaurantList)}">
                            실제 비용
                        </div>
                        <div class="col border border-dark"th:text="${surveyService.getRestaurantCash(siteOrder.getCash(), survey)}">
                            알고리즘 예상 비용
                        </div>
                        <div class="col border border-dark"th:text="2 * ${orderService.getAllRestaurantPrice(restaurantList)} - ${surveyService.getRestaurantCash(siteOrder.getCash(), survey)}">
                            차이
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            숙소
                        </div>
                        <div class="col border border-dark" th:text="${orderService.getAllHotelPrice(hotelList, siteOrder)}">
                            실제 비용
                        </div>
                        <div class="col border border-dark"th:text="${surveyService.getHotelCash(siteOrder.getCash(), survey)}">
                            알고리즘 예상 비용
                        </div>
                        <div class="col border border-dark"th:text="${orderService.getAllHotelPrice(hotelList, siteOrder)} - ${surveyService.getHotelCash(siteOrder.getCash(), survey)}">
                            차이
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-dark">
                            총계
                        </div>
                        <div class="col border border-dark"th:text="2 * ${orderService.getAllRestaurantPrice(restaurantList)} + ${orderService.getAllHotelPrice(hotelList, siteOrder)}">
                            실제 비용
                        </div>
                        <div class="col border border-dark"th:text="${surveyService.getRestaurantCash(siteOrder.getCash(), survey)} + ${surveyService.getHotelCash(siteOrder.getCash(), survey)}">
                            알고리즘 예상 비용
                        </div>
                        <div class="col border border-dark"th:text="2 * ${orderService.getAllRestaurantPrice(restaurantList)} - ${surveyService.getRestaurantCash(siteOrder.getCash(), survey)} + ${orderService.getAllHotelPrice(hotelList, siteOrder)} - ${surveyService.getHotelCash(siteOrder.getCash(), survey)}">
                            차이
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e94dc602b209897863c8d8f3e6073cb7"></script>
<script type="text/javascript">

    function createMap(containerId, center) {
        let container = document.getElementById(containerId);
        if (container) {
            let options = {
                center: center,
                level: 9
            };
            let map = new kakao.maps.Map(container, options);
            return map;
        }
    }

      function initFirstMap() {
      let containerId = 'map1';
      let center = new kakao.maps.LatLng(35.178314, 129.075525); // 첫 번째 맵의 중심 위치 설정
      let map = createMap(containerId, center); // 첫 번째 맵 생성
      let tourismName = document.getElementById('date' + 1).querySelector('.border-bottom').innerText;
      addMarkerWithInfoWindow(map, new kakao.maps.LatLng(35.097392, 129.014288), tourismName);
    }

    function initOtherMaps() {
        let containerIds = ['map2', 'map3', 'map4', 'map5'];
        let centers = new kakao.maps.LatLng(35.178314, 129.075525)
        containerIds.forEach((containerId, index) => {
                let center = centers;
                let map = createMap(containerId, center); // 해당 탭에 대한 맵 생성
                // 각 탭이 가리키는 부분의 관광지 이름을 정보창으로 표시
                let tourismName = document.getElementById('date' + (index + 2)).querySelector('.border-bottom').innerText;
                addMarkerWithInfoWindow(map, new kakao.maps.LatLng(35.097392, 129.014288), tourismName);
        });
    }

    function relayout() {
        let maps = document.querySelectorAll('div[id^="map"]');
        maps.forEach(mapDiv => {
            let map = mapDiv.mapInstance;
            if (map) {
                map.relayout();
            }
        });
    }

    // 마커를 생성하고 정보창을 추가하는 함수
    function addMarkerWithInfoWindow(map, position, content) {
        let marker = new kakao.maps.Marker({
            position: position
        });
        marker.setMap(map);
        let infowindow = new kakao.maps.InfoWindow({
            content: '<div style="padding:10px;">' + content + '</div>'
        });
        kakao.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        });
    }

    document.addEventListener('DOMContentLoaded', initFirstMap); // 페이지 로드 시 첫 번째 맵 초기화

    // 탭 표시 이벤트에 이벤트 리스너 연결
    document.querySelectorAll('button[data-bs-toggle="tab"]').forEach(tabButton => {
        tabButton.addEventListener('shown.bs.tab', function() {
            initOtherMaps(); // 해당 탭에 대한 맵 초기화
            relayout(); // 탭 변경 시 맵 크기 조정
        });
    });
</script>
</body>

</html>