<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
  <div class="p-3 m-0 border-0 bd-example m-0 border-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mx-5">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main}">
          <img th:src="@{/images/logo.png}" alt="Logo" width="163" height="38" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active"th:href="@{/post/list}">커뮤니티</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/mypage}">마이페이지</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <h5 class="my-3 border-bottom pb-2">게시물 등록</h5>
  <form th:action="@{/post/create}" th:object="${postForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
<!--    <div class="dropdown">-->
<!--      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--        여행 후기-->
<!--      </button>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a class="dropdown-item" th:field = "*{headLine}" value = "부산">부산</a></li>-->
<!--        <li><a class="dropdown-item" th:field = "*{headLine}" value = "서울">서울</a></li>-->
<!--        <li><a class="dropdown-item" th:field = "*{headLine}" value = "제주">제주</a></li>-->
<!--      </ul>-->
<!--    </div>-->

    <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <input type="text" th:field="*{subject}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
    </div>
    <input type="submit" value="저장하기" class="btn btn-primary my-2">
  </form>
</div>
</html>