<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<body>
  <div layout:fragment="content" class="container my-3">
    <div style="margin: 0; padding: 0; position: sticky; top: 0; z-index: 1030; background-color: white;">
      <nav class="navbar navbar-expand-lg bg-body-tertiary"
           style="border: 3px solid black; border-radius: 0; padding: 10px;">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/main}" style="margin-left: 10px;">
            <img th:src="@{/images/logo.png}" alt="Logo" width="163" height="38"
                 style="border-radius: 5px;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" style="margin-right: 10px;">
                <a class="btn btn-warning fw-bold px-3 py-2"
                   th:href="@{/post/list}" style="color: black; border: 2px solid black; border-radius: 10px;">커뮤니티</a>
              </li>
              <li class="nav-item" style="margin-right: 10px;"sec:authorize="isAnonymous()">
                <a class="btn btn-warning fw-bold px-3 py-2"
                   th:href="@{/user/login}"  style="color: black; border: 2px solid black; border-radius: 10px;">로그인</a>
              </li>
              <li class="nav-item" style="margin-right: 10px;" sec:authorize="isAnonymous()">
                <a class="btn btn-warning fw-bold px-3 py-2"
                   th:href="@{/user/signup}"  style="color: black; border: 2px solid black; border-radius: 10px;">회원가입</a>
              </li>
              <li class="nav-item" style="margin-right: 10px;" sec:authorize="isAuthenticated()">
                <a class="btn btn-warning fw-bold px-3 py-2"
                   th:href="@{/user/mypage}" style="color: black; border: 2px solid black; border-radius: 10px;">마이페이지</a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="btn btn-warning fw-bold px-3 py-2"
                   th:href="@{/user/logout}" style="color: black; border: 2px solid black; border-radius: 10px;">로그아웃</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${post.subject}"></h2>
    <div class="card my-3">
      <div class="card-body">
        <div class="card-text" style="white-space: pre-line;" th:text="${post.content}"></div>
        <div class="d-flex justify-content-end">
          <div class="badge bg-light text-dark p-2 text-start">
            <div class="mb-2">
              <span th:if="${post.author != null}" th:text="${post.author.username}"></span>
            </div>
            <div th:text="${#temporals.format(post.createDateTime, 'yyyy-MM-dd HH:mm')}"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(post.commentList)}개의 댓글이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="comment : ${post.commentList}">
      <div class="card-body">
        <div class="card-text" style="white-space: pre-line;" th:text="${comment.content}"></div>
        <div class="d-flex justify-content-end">
          <div class="badge bg-light text-dark p-2 text-start">
            <div class="mb-2">
              <span th:if="${post.author != null}" th:text ="${post.author.username}"></span>
            </div>
            <div th:text="${#temporals.format(comment.createDateTime, 'yyyy-MM-dd HH:mm')}"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form th:action="@{|/comment/create/${post.id}|}" th:object ="${commentForm}" method="post" class="my-3">
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
      <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
      <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
  </div>

</body>
</html>